.analytics-parent-cont {
  display: flex;
  background-color: var(--gray-200);
  width: 100vw;
  height: 100vh;

  button {
    background-color: transparent;
  }

  .analytics-child-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 80vw;
    .Analytics-heading {
      margin-bottom: 3rem;
      display: flex;
      justify-content: center;
    }
    h1 {
      color: var(--blue-300);
    }
    .table-cont {
      width: 100%;
      overflow-x: auto;
      height: 80vh;
      margin-top: 20px;
    }
    .table {
      width: 100%;
      border-collapse: collapse;
      height: 10vh;
      border-radius: 10px;
      overflow-x: auto;
    }
    .btn-ques-anlys {
      color: black;
      text-align: center;
      font-family: Poppins;
      font-size: 13px;
      font-style: normal;
      font-weight: 600;
      line-height: 40px;
      text-decoration-line: underline;
    }

    th,
    td {
      padding: 15px;
      text-align: left;
      color: black;
      font-family: Poppins;
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      line-height: 40px;
    }
    //HEADING OF TABLE
    th {
      background-color: var(--blue-300);
      color: white;
      // min-width: 10rem;
    }
    th:first-child {
      border-top-left-radius: 15px;
      border-bottom-left-radius: 15px;
    }
    th:last-child {
      border-top-right-radius: 15px;
      border-bottom-right-radius: 15px;
    }

    tr {
      background-color: var(--gray-200);
    }

    tr:nth-child(even) {
      background-color: var(--blue-200);
    }
    tr:nth-child(odd) {
      background-color: var(--gray-200);
    }

    tr:hover {
    }

    //Rightmost border
    tr:nth-child(even) td:first-child {
      border-top-left-radius: 15px;
      border-bottom-left-radius: 15px;
    }

    //Leftmost border
    tr:nth-child(even) td:last-child {
      border-top-right-radius: 15px;
      border-bottom-right-radius: 15px;
    }
  }
}
.delete-parent-popup {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  height: 100vh;
  width: 100vw;
  left: 0;
  top: 0;
  .delete-popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 37rem;
    height: 14rem;
    padding: 2rem 0rem;
    background-color: white;
    text-align: center;
    border-radius: 10px;
    font-family: Poppins;

    p {
      font-size: 1.5rem;
    }
    .flex-btn {
      margin-top: 2rem;
      display: flex;
      justify-content: space-around;
      button {
        width: 15rem;
        height: 2rem;
        border-radius: 10px;
      }
      .confirm-btn {
        background-color: #ff4b4b;
        color: white;
      }
      .cancel-btn {
        background-color: white;
        color: black;
        box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.25);
      }
    }
  }
}
