@import url('https://fonts.googleapis.com/css2?family=Jomhuria&display=swap');

/*NAVBAR STYLES*/

.nav-parent-cont {
    background-color: white;
    width: 15rem;
    height: 100vh;

    h1 {
        font-family: "Jomhuria", serif;
        color: #474444;
        font-size: 4rem;
        font-weight: 100;
        margin-left: 1.5rem;
    }
}

.nav-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
    gap: 3rem;
    box-shadow: 10px 0px 0px rgba(0, 0, 0, 0.1);
    background-color: white;

    .nav-btn {
        text-decoration: none;
        border: none;
        font-size: 1.2rem;
        background-color: transparent;
        color: black;
        padding: 10px 25px;
        border-radius: 10px;

    }

    // .nav-btn:hover {
    //     background-color: #474444;
    //     border-radius: 4px;
    // }

    .active-btn {
        background-color: white;
        box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.1);
    }
}

/*DASHBOARD STYLES*/

.dashboard-parent-cont {
    display: flex;
    background-color: red;
    width: 100vw;
    height: 100vh;
}

.dashboard-cont {
    // background-color: #EDEDED;

}

/*ANALYTICS STYLES*/
.analytics-parent-cont {
    display: flex;
    background-color: red;
    width: 100vw;
    height: 100vh;
}

.analytics-child-cont {}