@import url("https://fonts.googleapis.com/css2?family=Jomhuria&display=swap");

/*GLOBAL STYLES*/

button:hover {
  cursor: pointer;
}

input:focus {
  outline: none;
}

/*NAVBAR STYLES*/

.nav-parent-cont {
  background-color: white;
  width: 15rem;
  height: 100%;
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.15);

  h1 {
    font-family: "Jomhuria", serif;
    color: #474444;
    font-size: 4rem;
    font-weight: 100;
    margin-left: 1.5rem;
  }
  .logout-div {
    position: absolute;
    margin-top: 45rem;
    .line {
      height: 0.1rem;
      width: 10rem;
      background-color: black;
      margin-left: -0.7rem;
    }
    button {
      text-decoration: none;
      border: none;
      font-size: 1.2rem;
      background-color: transparent;
      color: black;
      padding: 10px 25px;
      border-radius: 10px;
      font-weight: 600;
    }
  }
}

.nav-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90vh;
  gap: 3rem;
  background-color: white;

  .nav-btn {
    text-decoration: none;
    border: none;
    font-size: 1.2rem;
    background-color: transparent;
    color: black;
    padding: 10px 25px;
    border-radius: 10px;
  }

  // .nav-btn:hover {
  //     background-color: #474444;
  //     border-radius: 4px;
  // }

  .active-btn {
    background-color: white;
    box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.15);
  }
}

/*DASHBOARD STYLES*/

.dashboard-parent-cont {
  display: flex;
  background-color: #ededed;
  width: 100vw;
  height: 100vh;

  .dashboard-flex-cont {
    display: flex;
    gap: 2rem;
    margin-left: 6rem;
    margin-top: 6rem;

    .dashboard-cont {
      width: 20rem;
      height: 10rem;
      background-color: white;
      border-radius: 10px;
      padding: 20px 30px;

      h1 {
        font-size: 3.5rem;
      }

      .heading-1 {
        color: #ff5d01;
      }

      .heading-2 {
        font-size: 3.5rem;
      }

      .heading-3 {
        font-size: 3.5rem;
      }

      span {
        font-size: 1.5rem;
        margin-left: 2rem;
        color: blue;
      }
    }
  }
}

.dashboard-cont {
  // background-color: #EDEDED;
}

/*ANALYTICS STYLES*/
.analytics-parent-cont {
  display: flex;
  left: 0;
  width: 85vw;
  height: 100vh;
  .analytics-child-cont {
    background-color: red;
    height: 100%;
  }
}

/*POPUP STYLES*/

.popup-parent-cont {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.popup-child-cont {
  display: grid;
  place-items: center;
  height: 100vh;
}

.popup-cont {
  width: 37rem;
  height: 17rem;
  border-radius: 15px;
  background-color: white;
  padding: 3rem 3.5rem;

  .input-box {
    width: 30rem;
    height: 3rem;
    border: none;
    border-radius: 5px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    padding: 5px 10px;
  }

  .popup-details-row-2 {
    display: flex;
    gap: 4rem;
    margin-top: 2rem;
    color: #9f9f9f;
    // background-color: yellow;

    label {
      font-size: 1.1rem;
    }

    .selected-button {
      background-color: #60b84b;
      color: white;
    }
    .poll-button {
      box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.15);
    }
  }

  button {
    width: 8rem;
    height: 2rem;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    padding: 5px 10px;
    color: #9f9f9f;
  }

  .popup-details-row-3 {
    display: flex;
    gap: 4rem;
    margin-top: 2rem;

    button {
      width: 14rem;
      height: 2.5rem;
    }

    button:hover {
      background-color: rgb(159, 159, 159, 0.5);
      cursor: pointer;
    }

    .cont-btn {
      background-color: #60b84b;
      color: white;
      box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.15);
    }

    .cont-btn:hover {
      background-color: rgb(50, 132, 30);
    }
  }
}

/*POLL STYLES*/
.poll-parent-cont {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
}

.poll-cont {
  width: 46rem;
  height: 35rem;
  border-radius: 5px;
  background-color: white;
  padding: 2rem 5rem;

  .poll-row1 {
    width: 40rem;
    height: 5rem;
    display: flex;
    gap: 1rem;

    .circle {
      width: 3rem;
      height: 3rem;
      border-radius: 50%;
      background-color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.15);
    }
    .circle-selected {
      width: 3rem;
      height: 3rem;
      border-radius: 50%;
      border: 2px solid #60b84b;
    }

    p {
      color: #9f9f9f;
    }

    button {
      border: none;
      background-color: transparent;
      font-size: 3rem;
      color: #969696;
    }

    .add-circle-btn {
      margin-top: -2rem;
    }

    .del-circle-btn {
      position: absolute;
      margin-top: -5rem;
      margin-left: 2rem;

      img {
        margin-top: -10rem;
      }
    }

    .remind {
      position: absolute;
      margin-left: 25rem;
      margin-top: 0.7rem;
    }
  }

  .poll-row2 {
    input {
      width: 35rem;
      height: 3rem;
      border: none;
      border-radius: 10px;
      box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.15);
      padding: 5px 10px;
    }
  }

  .poll-row3 {
    display: flex;
    margin-top: 2rem;
    gap: 1.5rem;
    color: #9f9f9f;
    font-size: 1rem;

    label {
      input {
        margin-left: 2rem;
      }
    }
  }

  .timer-row-4 {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-left: 32rem;
    margin-top: -9rem;
    width: 5rem;
    height: 12rem;
    // background-color: yellow;

    p {
      text-align: center;
      color: #9f9f9f;
    }

    button {
      width: 5rem;
      height: 2rem;
      border: none;
      border-radius: 10px;
      font-size: 1rem;
      padding: 5px 15px;
      box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.15);
      color: #9f9f9f;
      font-size: 0.9rem;
    }

    .selected-timer-btn {
      background-color: #d60000;
      color: white;
    }
  }

  .poll-row-5 {
    display: flex;
    justify-content: space-between;
    margin-top: -4.3rem;
    margin-left: -0.5rem;

    button {
      height: 2.5rem;
      width: 14rem;
      border: none;
      border-radius: 5px;
      font-size: 1rem;
      padding: 5px 10px;
      box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.15);
    }
  }

  .cancel-btn {
    color: black;
  }

  .del-btn {
    background-color: #60b84b;
    color: white;
  }
}

.poll-row4 {
  width: 25rem;
  height: 20rem;
  margin-top: 2rem;
  margin-left: -2rem;

  .input-box {
    width: 13rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
    height: 2.4rem;
    border-radius: 10px;
    box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.15);
    border: none;
    padding: 1rem 1rem;
  }

  .add-btn {
    width: 13rem;
    margin-bottom: 1rem;
    margin-left: 1.8rem;
    height: 2.4rem;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.15);
    border: none;
    color: #9f9f9f;
  }

  .img-text {
    display: flex;
    width: 25rem;
  }

  .delete-btn {
    border: none;
    width: 1.5rem;
    background-color: transparent;

    img {
      width: 1.5em;
      margin-left: 1rem;
      margin-bottom: 0.5rem;
    }
  }

  .delete-btn-img-text {
    width: 4rem;
  }

  .input-types {
    display: flex;
    .input-radio {
      color: #9f9f9f;
    }
  }
}
