.main-div {
  display: flex;
  // background-color: var(--gray-200);
  width: 100%;
  height: 100vh;
}
.parent-cont {
  display: flex;
  background-color: var(--gray-200);
  width: 100%;
  height: 100vh;
  font-family: Poppins;

  .poll-content-container {
    flex: 1;
    padding: 20px;
    margin-left: 5rem;
    margin-top: 4rem;

    .quiz-analysis-header {
      margin-bottom: 2rem;
      color: #5076ff;
    }
  }

  .poll-div {
    width: 30rem;
    // width: 80%;
    margin-bottom: 2rem;
    p {
      font-weight: 500;
    }

    .poll-options-container {
      display: flex;
      flex-wrap: wrap;
      margin-top: 1rem;
      // text-align: center;
    }
    .poll-option-div {
      // display: flex;
      flex: 1;
      width: 10rem;
      height: 4rem;
      padding: 1.2rem 2rem;
      text-align: center;
      background-color: white;
      margin-right: 1rem;
    }
  }
}

.question-parent-cont {
  display: flex;
}

.QA-flex-option {
  display: flex;
  margin-top: 2rem;
  // background-color: yellow;
  .option-div {
    width: 18rem;
    height: 7rem;
    background-color: white;
    margin-left: 2rem;
    border-radius: 5px;
    text-align: center;
    padding-top: 1rem;
    margin-bottom: 2rem;
  }
}
.top-row {
  position: absolute;
  right: 0;
  margin-right: 2rem;
  color: var(--orange-100);
  font-weight: 600;
}
.ques-heading {
  color: #000;
  font-family: Poppins;
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.option-text {
  color: var(--gray-600);
  // color: yellow;
  font-family: Poppins;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.option-subtext {
  color: var(--gray-600);
  // color: yellow;

  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
h2 {
  color: var(--blue-300);
  font-family: Poppins;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
